
.top-container {
    background-color: #789395;
    height: 100vh;

}

html, body {
    margin:0px;
    height:100%;
    text-align: center;
}

#main-title {
    color: #E5E3C9;
    margin: auto;
    padding-top: 5%;
    font-family: 'Sacramento', cursive;
    font-size: 500%;
    font-weight: 800;
}
#web-designer {
    color: #E5E3C9;
    padding: 1em 0;
    font-size: 130%;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

p {
    color: #B4CFB0;
    padding: 1em 0;
    font-size: 130%;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

h3 {
    color: #B4CFB0;
    font-size: 100%;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
    h2 {
    color: #94B49F;
    font-size: 200%;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-style: italic;
}

#freelance {
    color: #94B49F;
    font-size: 170%;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-style: bold;
}

.top-cloud {
   position: relative; 
    left: 400px;
    

}


.bottom-cloud {
   position: absolute;
    left: 400px;
    

}


.mountain  {

      margin-top: 150px;

}


.top-container {
    position: relative;
    padding-top: 100px;
}



.middle-container {

    background-color: white;
}

.web-dev-png {
    max-width: 20%;
    max-height: 20%;

}

.terminal {
    max-width: 5%;
    max-height: 5%;
    position: absolute;
    margin-top: -73px;
    margin-left: -120px;
}

.design {
    max-width: 4%;
    max-height: 4%;
    position: absolute;
    margin-top: -70px;
    margin-left: -205px;
}
.develop {
    max-width: 4%;
    max-height: 4%;
    position: absolute;
    margin-top: -65px;
    margin-left: -220px;
}


.icon {
    max-width: 4%;
    max-height: 4%;
    position: absolute;
    margin-right: 200px;
}


th, td {

    color: #94B49F;
    font-size: 130%;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: auto;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

tr:hover {background-color:#E5E3C9;}

table {
    border-collapse: collapse;
    
  }

.bottom-container {
    background: #e0ebe8;
    color: #545454;
    margin: auto ;
    padding: 30px;
    

}

.contact-me {

    background-color: white;


}



 hr {
        border: 5px dotted #6464645b;
        opacity: 70%;
        width: 8%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        border-bottom: none;
    }
      
.btn {
    
        display: inline-block;
        background-color:#E5E3C9;
        border-radius: 10px;
        border: 4px #cccccc;
        color: #94B49F;
        text-align: center;
        font-size: 20px;
        font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        padding: 20px;
        width: 150px;
        cursor: pointer;
        margin: 5px;
        text-decoration: none;
}

.footer-link {

    color: #94B49F;
    padding: 1em 0;
    font-size: 130%;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    color: #cccccc;
}
